<!--
<div id="content" class="container">
    <img src="../../../assets/FotoPerfil.jpg" alt="FotoPerfil">
    <div id="Texto" class="row">
        <div class="col-xl-4">
            <h1>Medina, Mauro M.</h1>
            <h2>(Programador Web Full Stack Jr.)</h2>
        </div>
        <div class="col-xl-8">
            <h4> Lorem ipsum dolor sit amet, consectetur adipisicing el  elementum. Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet, consectetur adipisicing el elementum.<br/>
            Lorem ipsum dolor sit amet amet.<br/></h4>
        </div>
    </div>
</div> -->