/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(/assets/Fondo2.jpg);
    background-attachment: fixed;
    background-repeat: round;
    background-size: cover;
}
#Texto {
    border: 1px solid white;
    border-radius: 20px;
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}